{% load static tailwind_tags %}

<html lang="en">
<head>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    
    <title>Document</title>
</head>
<body>
{% block messages %}{% include 'newsletters/messages.html' %}{% endblock messages %}
{% block content %}{% endblock content %}
    
</body>
</html>